/* styles.css */

/* Style for checkboxes */
.checkbox {
    -fx-text-fill: #800080; /* Text color purple */
    -fx-border-width: 2px; /* Border width */
    -fx-border-radius: 5px; /* Rounded corners for the border */
    -fx-padding: 5px 7px; /* Inner spacing */
}

.checkbox:selected .box {
    -fx-border-color: #800080;
}

.checkbox:disabled .text {
    -fx-fill: gray;
}

/* Style for invalid input */
.text-field:invalid {
    -fx-border-color: red;
}

/* Style for the top section */
.top-box {
    -fx-background-color: #f4f4f4;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

/* Style for the user image */
.user-image {
    -fx-fit-width: 40px;
    -fx-fit-height: 30px;
}

/* Style for the money label */
.money-label {
    -fx-font-size: 18px;
    -fx-text-fill: green;
}

/* Style for the logOut button */
.log-out-button {
    -fx-font-size: 14px;
}

/* Style for the test button */
.test-button {
    -fx-font-size: 14px;
}

/* Style for the "Buy" button */
.button-buy {
    -fx-background-color: #4CAF50; /* Background color green */
    -fx-text-fill: white; /* Text color white */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 5px 7px; /* Inner spacing */
    -fx-border-radius: 5px; /* Rounded corners */
}

/* Style for the "Sell" button */
.button-sell {
    -fx-background-color: #FF6347; /* Background color red */
    -fx-text-fill: white; /* Text color white */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 5px 7px; /* Inner spacing */
    -fx-border-radius: 5px; /* Rounded corners */
}


/* Style for the line chart */
.chart-view {
    -fx-background-color: red;
}

/* Style for the left pane (checkboxes) */
.left-pane {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

/* Style for the right pane (line chart) */
.right-pane {
    -fx-padding: 10px;
}

/* Style for the internal split pane divider */
.split-pane-divider {
    -fx-padding: 5px;
    -fx-background-color: #e5d7ff;
}

/* CSS selector for your button */
.my-button:hover {
    /* Hover style */
    -fx-background-color: #5C3190; /* Change background color on hover */
    -fx-text-fill: white; /* Change text color on hover */
}

* {
   -fx-darkest-grey-color: #323232;
}

/* Radio button custom style */
/* custom-button-style.css */
* {
   -fx-darkest-grey-color: #323232;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: -fx-darkest-grey-color;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 3px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;
}